In [ ]:
print("hello world")

hello world

In [ ]:
x=1
#The initial value of x is 1
if x>0:
  print("These are two comments") #Print a string.

These are two comments

In [ ]:
print("Statement1")
print("Statement2")

#YOu can write above two statements in the following way
print("Statement1");print("Statement2")

Statement1
Statement2
Statement1
Statement2

In [ ]:
 a=1452
 print(type(a))
 b=(-4587)
 print(type (b))
 c=0
 print(type (c))
 g=1.03
 print(type(g))
 h=-11.23
 print(type (g))
 i=.34
 print(type (i))
 j=2.12e-10
 print(type (j))
 k=5E220
 print(type(k))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = complex(1,2)
print (type(x))
print(x)
z = i+2j
print (type (z))

<class 'complex'>
(1+2j)
<class 'complex'>

In [ ]:
x = True
print (type (x))
y = False
print (type (y))

<class 'bool'>
<class 'bool'>

In [ ]:
strl = "String"
print(strl)
str2 = "String"
print(str2)
str3 = "String'
str2 = "Day's"
print (str2)
str2 = 'Day"s'
print(str2)

SyntaxError: unterminated string literal (detected at line 5) (<ipython-input-15-5faf20756917>, line 5)

In [ ]:
print ("The is a backslash (\\ mark.)")
print("This is tab \t key")
print("These are \'single quotes\'")
print("These are \"double quotes\"")
print("This is anew line\nNew line")

The is a backslash (\ mark.)
This is tab 	 key
These are 'single quotes'
These are "double quotes"
This is anew line
New line

In [ ]:
string1 = "PYTHON TUTORIAL"
print(string1[0])
print(string1[-15])
print(string1[14])
print(string1[-1])
print(string1[4])
print(string1[-11])

P
P
L
L
O
O

In [ ]:
my_list1=[5,12,13,14]
print(my_list1)

[5, 12, 13, 14]

In [1]:
my_list2=['red','blue','black']
print(my_list2)
my_list3=['red, 12, 112, 12']
print(my_list3)

['red', 'blue', 'black']
['red, 12, 112, 12']

In [2]:
my_list=[]
print(my_list)
[]

[]

[]

In [7]:
color_list=["RED","Blue","Green","Black"]
color_list[0]
print(color_list[0],color_list[3])
color_list[-1]

print(color_list[4])

RED Black

'Black'

In [10]:
color_list=["RED","Blue","Green","Black"]
print(color_list[0:2])
print(color_list[1:2])
print(color_list[1:-2])
print(color_list[:3])
print(color_list[:])

['RED', 'Blue']
['Blue']
['Blue']
['RED', 'Blue', 'Green']
['RED', 'Blue', 'Green', 'Black']